@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)
  .menu
    display: none

  .slider-content 
    max-width: 100%
    border: 1px solid red
    position: relative
    display: none

  .slider-content-mobile
    width: 100%
    height: 200px
    display: block
   
  .slider-buttons
    width: 100%
    height: 50px
    border: 1px solid red
    display: flex 
    align-items: center 
    position: relative
    margin: 0px
    padding: 0px
    overflow: hidden
  
  .button-one
    margin: 0px
    padding: 0px
    position: absolute
    justify-content: flex-start
  .button-two
    margin: 0px
    padding: 0px
    position: absolute
    justify-content: center
    
    
  .main-form-content
    width: 100%
    height: 620px
    margin-top: 90%
    border: 1px solid red
    position: relative
    margin: 0px
    
  .select 
	  max-width: 171px
	  
  
  .brighter-clouds
    margin-top: -170%
    height: 700px
    border: 1px solid red

  .dark-clouds 
    height: 950px
    margin-top: -80%
    position: relative

  .clouds-content-left
    max-width: 100%
    // border: 1px solid red
    padding-right: 25px
    padding-bottom: 25px

  .content-left-info-header 
    margin-left: 5%

  .content-left-info-text
    margin-left: 5%
    
  .header-tabs-block
    width: 100%

  .block-img
    img
      width: 75px
      height: 40px

  .clouds-content-right
    width: 100%
    height: 450px
    
  .rigth-info-block 
    max-width: 100%
    height: 20px
    display: flex 
    justify-content: space-between
    font-size: 10px

  .info-text 
	  margin: 0px
  
  .rigth-info-block-text 
	  margin-left: 5px

  .rigth-info-block-number 
	  margin-left: 5px

  .rigth-info-block-details 
	  margin-left: 5px
    
  .foto-block
    width: 100% 

  .map-content
    height: 350px

  .map 
    width: 100%
    height: 100%
    margin-bottom: 150px
    border: 1px solid red
    padding: 0px

  .footer 
    width: 100%
    height: auto
    padding-bottom: 10%

  .body-input 
    margin-top: 20px

  .form-button-two
    margin-top: 20px
    padding-right: 0px
    button
      margin: 0px

  .cocial-form
    width: 100%
    padding: 0px
    display: flex
    align-items: center
    justify-content: space-between

  .footer-info
    margin-top: 10px
    
    


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
